:root {
    --primary-color: #a4e500;
    --body-bg-color: #030712;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100dvh;
    background-color: var(--body-bg-color);
    position: relative;
    overflow: hidden;
}

body::after{
    content: url('../img/abstract-1186.png');
    position: absolute;
    right: -80px;
    bottom: -99px;
    filter: invert(1);
    transform: scale(0.5);
    opacity: 0.1;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 70%;
    gap: 40px;
}

.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
    font-family: "inter";
}

.title div:nth-child(1),
.title div:nth-child(1) h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    font-size: 2rem;
    font-weight: 100;
}

.title div:nth-child(2),
.title div:nth-child(2) h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    font-size: 4.5rem;
    font-weight: 400;
}

.title div:nth-child(2) h2 span {
    font-weight: 900;
}

.title :is(h1, span) {
    color: var(--primary-color);
}

.text-animation {
    color: var(--primary-color);
    background-image: -o-linear-gradient(355deg, var(--primary-color), #00ff99);
    background-image: linear-gradient(95deg, var(--primary-color), #00ff99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 5s infinite linear;
    -moz-animation: hue 5s infinite linear;
    -webkit-animation: hue 5s infinite linear;
}

@-webkit-keyframes hue {
    0% {
        -webkit-filter: hue-rotate(95deg);
    }
    25% {
        -webkit-filter: hue-rotate(360deg);
    }
    75% {
        -webkit-filter: hue-rotate(360deg);
    }
    100% {
        -webkit-filter: hue-rotate(95deg);
    }
}

@keyframes hue {
    0% {
        -webkit-filter: hue-rotate(95deg);
    }
    25% {
        -webkit-filter: hue-rotate(360deg);
    }
    75% {
        -webkit-filter: hue-rotate(360deg);
    }
    100% {
        -webkit-filter: hue-rotate(95deg);
    }
}

.emoji {
    font-size: smaller;
}
.title{
    position: relative;
}
.title::before {
    content: url('../img/rocky-zigzag-8.png');
    position: absolute;
    left: -99px;
    top: -70px;
    width: 10px;
    height: 10px;
    filter: invert(1);
    opacity: 0.1;
}

.svg {
    width: 40px;
    height: 40px;
    -webkit-transition: scale 0.2s cubic-bezier(1, 0.03, 0, 1.01);
    -o-transition: scale 0.2s cubic-bezier(1, 0.03, 0, 1.01);
    transition: scale 0.2s cubic-bezier(1, 0.03, 0, 1.01);
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

.svg:hover {
    scale: 1.5;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

/* Skills */
.skills {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2rem;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.skills p {
    margin-left: -120px;
    margin-bottom: -20px;
    opacity: 0.8;
}
.skills hr {
    margin: 15px auto;
    width: 99%;
    opacity: 0.15;
}
.have-skills,
.loading-skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (55px) [3];
    grid-template-columns: repeat(3, 55px);
    row-gap: 9px;
    margin: 0 auto;
}

/* Footer */
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    gap: 35px;
    font-family: "Courier New", Courier, monospace;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

/* Socials */
.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.social img {
    -webkit-filter: invert(1);
    filter: invert(1);
}
.tell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5px;
}
.tell span {
    color: var(--primary-color);
}

.tell a:hover {
    color: var(--primary-color);
}

/* Typing animation */
.typing {
    width: 100%;
    -webkit-animation: typing 2s;
    animation: typing 2s;
    white-space: nowrap;
    overflow: hidden;
}

@-webkit-keyframes typing {
    from {
        width: 0;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

/* Small Devices */

@media only screen and (max-width: 830px) {
    main {
        height: 80%;
    }

    .title div:nth-child(1),
    .title div:nth-child(1) h1 {
        gap: 4px;
        font-size: 1rem;
        font-weight: 400;
    }

    .title div:nth-child(2),
    .title div:nth-child(2) h2 {
        gap: 5px;
        font-size: 1.6rem;
    }
    .skills {
        width: 170px;
        font-size: 0.9rem;
    }

    .have-skills,
    .loading-skills {
        -ms-grid-columns: (40px) [3];
        grid-template-columns: repeat(3, 40px);
        row-gap: 0;
    }

    .skills p {
        margin-left: -60px;
    }

    .skills hr {
        margin: 9px auto;
    }

    .svg {
        width: 30px;
    }

    .skills hr {
        width: 90%;
    }

    .title::before {
        left: -50px;
        top: -30px;
        transform: scale(0.4);
    }
}
