:root {
    --primary-color: #a4e500;
    --body-bg-color: #030712;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background-color: var(--body-bg-color);
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    gap: 40px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "inter";
}

.title div:nth-child(1),
.title div:nth-child(1) h1 {
    display: flex;
    gap: 5px;
    font-size: 2rem;
    font-weight: 100;
}

.title div:nth-child(2),
.title div:nth-child(2) h2 {
    display: flex;
    gap: 15px;
    font-size: 4.5rem;
    font-weight: 400;
}

.title div:nth-child(2) h2 span {
    font-weight: 900;
}

.title :is(h1, span) {
    color: var(--primary-color);
}

.text-animation {
    color: var(--primary-color);
    background-image: linear-gradient(95deg, var(--primary-color), #00ff99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 5s infinite linear;
    -moz-animation: hue 5s infinite linear;
    -webkit-animation: hue 5s infinite linear;
}

@keyframes hue {
    0% {
        -webkit-filter: hue-rotate(95deg);
    }
    25% {
        -webkit-filter: hue-rotate(360deg);
    }
    75% {
        -webkit-filter: hue-rotate(360deg);
    }
    100% {
        -webkit-filter: hue-rotate(95deg);
    }
}

.emoji {
    font-size: smaller;
}

.svg {
    width: 40px;
    height: 40px;
    transition: scale 0.2s cubic-bezier(1, 0.03, 0, 1.01);
    animation: fadeIn 2s;
}

.svg:hover {
    scale: 1.5;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

/* Skills */
.skills {
    font-family: "courier new";
    font-size: 1.2rem;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.skills p {
    margin-left: -120px;
    margin-bottom: -20px;
    opacity: 0.8;
}
.skills hr {
    margin: 15px auto;
    width: 99%;
    opacity: 0.15;
}
.have-skills,
.loading-skills {
    display: grid;
    grid-template-columns: repeat(3, 55px);
    row-gap: 9px;
    margin: 0 auto;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    gap: 35px;
    font-family: "courier new";
    align-self: center;
}

/* Socials */
.social {
    display: flex;
    justify-content: center;
}
.social a:nth-child(2) {
    margin: 0 20px;
}
.social img {
    filter: invert(1);
}
.tell {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.tell span {
    color: var(--primary-color);
}

.tell a:hover {
    color: var(--primary-color);
}

/* Typing animation */
.typing {
    width: 100%;
    animation: typing 2s;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
}

/* Small Devices */

@media only screen and (max-width: 830px) {
    main {
        height: 80%;
    }

    .title div:nth-child(1),
    .title div:nth-child(1) h1 {
        gap: 4px;
        font-size: 1rem;
        font-weight: 400;
    }

    .title div:nth-child(2),
    .title div:nth-child(2) h2 {
        gap: 5px;
        font-size: 1.6rem;
    }
    .skills {
        width: 170px;
        font-size: 0.9rem;
    }

    .have-skills,
    .loading-skills {
        grid-template-columns: repeat(3, 40px);
        row-gap: 0;
    }

    .skills p {
        margin-left: -60px;
    }

    .skills hr {
        margin: 9px auto;
    }

    .svg {
        width: 30px;
    }

    .skills hr {
        width: 90%;
    }
}
